.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 300ms linear;
  height: 100px;
}

.App-header {
  background-color: #292;
  height: 350px;
  padding: 50px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
